.datos {
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 30px;
}

.btn {
    margin-bottom: 20%;
}

.img {
    width: 100%;
    height: 300px;
    display: table-row;
    justify-content: center;
    align-items: center;
    color: white;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(150deg, rgba(199, 196, 13, 0.5),  rgba(13, 106, 199, 0.7), rgba(199, 13, 13, 0.5)), url(https://img.freepik.com/fotos-premium/conjunto-deliciosas-recetas-comida-colombiana-mesa-madera-bandeja-paisa-patacones-chicharrones-yuca-frita-guacamole-coctel-gambas-arepas-maiz_449839-5728.jpg?w=2000);
}